.application-item {
  display: grid;
  grid-template-columns: 7rem 10rem 12rem 10rem 10rem 10rem 12rem 7rem;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.application-item_carrier {
  grid-template-columns: 7rem 10rem 12rem 10rem 10rem 10rem 12rem;
}

.application-item:hover {
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

.application-item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #141414;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: anywhere;
  white-space: break-spaces;
  text-align: center;
  height: 4rem;
  padding: 1rem;
}

@keyframes glowing {
  0% { background-color: white; color: black;}
  50% { background-color: #389e0d; color: white; }
  100% { background-color: white; color: black; }
}

.application-item__text_new{
  animation: glowing 3000ms infinite;
}

.application-item__span {
  margin: 0 0 4px 0;
}

.application-item__btn {
  background: #389e0d;
  color: white;
  margin: 0;
  max-width: 240px;
}

.application-item__btn:hover,
.application-item__btn:focus {
  background: #135200;
}
