.search-container {
  border: 1px solid #212121;
  border-radius: 5px;
  margin-bottom: 5rem;
  padding: 30px;
}
.select-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.ant-btn.ant-btn-primary.ant-input-search-button {
  display: none;
}
.search-icon {
  position: 'absolute';
  right: '10px';
  top: '8px';
  color: '#000';
}
